node_modules/
.next/
.vercel/
next-env.d.ts
*.tsbuildinfo
.env
.env.local
.env*.local
data/
*.db
*.db-shm
*.db-wal
.DS_Store
*.log

# yarn (root dev workflow)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnp.*
